.App {
  text-align: center;
}

.login-wrapper {
  margin-top: 20%;
}

.login-wrapper h1 {
  text-align: center;
}

.MuiList-root {
  width: 550px;
}

.getAllTasksDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}